<section class="">
    <div class="container">
        <section class="">
            <div class="features-grid">
                <div class="section-title text-center mb-5">
                    <span class="subtitle">{{ 'WHY_CHOOSE_PENN' | translate }}</span>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="feature-card">
                            <div class="feature-icon">
                                <i class="fa-solid fa-book-quran"></i>
                            </div>
                            <h4>{{ 'LEARN_ANYWHERE' | translate }}</h4>
                            <p>{{ 'LEARN_ANYWHERE_DESC' | translate }}</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="feature-card">
                            <div class="feature-icon">
                                <i class="fa-solid fa-chalkboard-user"></i>
                            </div>
                            <h4>{{ 'EXPERT_INSTRUCTOR' | translate }}</h4>
                            <p>{{ 'EXPERT_INSTRUCTOR_DESC' | translate }}</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="feature-card">
                            <div class="feature-icon">
                                <i class="fa-solid fa-scroll"></i>
                            </div>
                            <h4>{{ 'TEAM_MANAGEMENT' | translate }}</h4>
                            <p>{{ 'TEAM_MANAGEMENT_DESC' | translate }}</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="feature-card">
                            <div class="feature-icon">
                                <i class="fa-solid fa-clipboard-list"></i>
                            </div>
                            <h4>{{ 'COURSE_PLANNING' | translate }}</h4>
                            <p>{{ 'COURSE_PLANNING_DESC' | translate }}</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="feature-card">
                            <div class="feature-icon">
                                <i class="fa-solid fa-chart-line"></i>
                            </div>
                            <h4>{{ 'TEACHER_MONITORING' | translate }}</h4>
                            <p>{{ 'TEACHER_MONITORING_DESC' | translate }}</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="feature-card">
                            <div class="feature-icon">
                                <i class="fa-solid fa-hand-holding-heart"></i>
                            </div>
                            <h4>{{ 'STRONG_SUPPORT' | translate }}</h4>
                            <p>{{ 'STRONG_SUPPORT_DESC' | translate }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>